#heroButton {
  background-color: #4262ff;
  color: #fff;
}

#heroButton:hover {
  background-color: #0a18b1;
}

#heroButton:active {
  background-color: #060e68;
}

.heroForm input:focus {
  background-color: aliceblue;
}

.link {
  color: #4252ff;
  text-decoration: underline;
}

.link:hover {
  color: #0a18b1;
}

p {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

h1,
h2 {
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  color: #050038;
}

.hetoText {
  color: #050038;
}

.sectionText {
  color: #696688;
}

header a {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #050038;
  text-decoration: none;
}

.heroForm + p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #050038;
}

nav ul {
  list-style: none;
}

.sectionList {
  list-style: none;
  /* list-style-image: url(../img/check.svg); */
}

.sectionList li::before {
  content: url(../img/check.svg);
}
