body {
  margin: 0;
}

p {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

h1 {
  margin: 0 0 17px 0;
}

h2 {
  margin: 0 0 19px 0;
}

h1,
h2 {
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  color: #050038;
}

header a {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #050038;
  text-decoration: none;
}

nav {
  padding: 33px 50px;
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 60px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer {
  background: #050038;
  padding: 47px 40px;
}

footer a {
  color: #ffffff;
  text-decoration: none;
}

.heroForm + p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #050038;
  margin: 8px 0 52px 0;
}

.heroText {
  color: #050038;
  margin: 0 0 55px 0;
}

.sectionText {
  color: #696688;
  margin: 0 0 39px 0;
}

#heroButton {
  background-color: #4262ff;
  color: #fff;
}

#heroButton:hover {
  background-color: #0a18b1;
}

#heroButton:active {
  background-color: #060e68;
}

.heroForm input {
  border-radius: 32px;
  border: 1px solid #9b99af;
  height: 38px;
  padding: 5px 10px;
}

.heroForm button {
  border-radius: 32px;
  border: 1px solid #4262ff;
  height: 51px;
  padding: 10px 20px;
}

.heroForm input:focus {
  background-color: aliceblue;
}

.link {
  color: #4252ff;
  text-decoration: underline;
}

.link:hover {
  color: #0a18b1;
}

.sectionList {
  list-style: none;
  /* list-style-image: url(../img/check.svg); */
}

.sectionList li::before {
  content: url(../img/check.svg);
}

.cl1 {
  background-color: red;
  display: inline-block;
  padding: 20px;
  margin: 20px;
  width: 100px;
  height: 100px;
}

.cl2 {
  background-color: blue;
  display: inline-block;
  padding: 20px;
  margin: 20px;
  width: 100px;
  height: 100px;
}

.cl3 {
  background-color: green;
  display: inline-block;
  padding: 20px;
  margin: 20px;
  width: 100px;
  height: 100px;
}

.static cl2 {
  position: static;
}

.relative .cl2 {
  position: relative;
  top: 50px;
  left: -50px;
}

.absolute {
  position: relative;
}

.absolute .cl2 {
  position: absolute;
  top: 50px;
  left: 50px;
}

.fixed .cl2 {
  /* position: fixed; */
  top: 50px;
  left: 50px;
}

.sticky {
  height: 600px;
}

.sticky .cl2 {
  position: sticky;
  top: 50px;
  left: 50px;
}
