* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

section {
  margin: 0 auto;
  margin-bottom: 200px;
  padding: 0 40px;
  max-width: 1200px;
}

p {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

h1 {
  margin: 0 0 17px 0;
}

h2 {
  margin: 0 0 19px 0;
}

h1,
h2 {
  color: #050038;
  font-weight: 400;
  /* font-size: 48px; */
  font-size: 4vmin;
  line-height: 56px;
}

header {
  margin-bottom: 60px;
  border-bottom: 1px solid #f0f0f0;
}

header a {
  color: #050038;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}

nav {
  margin-bottom: 60px;
  margin: 0 auto;
  padding: 33px 50px;
  max-width: 1200px;
}

nav ul {
  display: flex;
  gap: 34px;
  margin: 0;
  padding: 0;
  list-style: none;
}

footer {
  background: #050038;
  padding: 47px 40px;
}

footer a {
  color: #ffffff;
  text-decoration: none;
}

.heroForm + p {
  margin: 8px 0 52px 0;
  color: #050038;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.heroText {
  margin: 0 0 55px 0;
  color: #050038;
}

.heroLogos {
  display: flex;
  align-items: center;
  gap: 20px;
}

.sectionText {
  margin: 0 0 39px 0;
  color: #696688;
}

#hero {
  display: flex;
  gap: 65px;
}

#heroButton {
  background-color: #4262ff;
  color: #fff;
}

#heroButton:hover {
  background-color: #0a18b1;
}

#heroButton:active {
  background-color: #060e68;
}

.heroForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.heroForm input {
  border: 1px solid #9b99af;
  border-radius: 32px;
  padding: 5px 10px;
  height: 48px;
}

.heroForm button {
  border: 1px solid #4262ff;
  border-radius: 32px;
  padding: 10px 20px;
  height: 51px;
}

.heroForm input:focus {
  background-color: aliceblue;
}

.link {
  color: #4252ff;
  text-decoration: underline;
}

.link:hover {
  color: #0a18b1;
}

.sectionList {
  list-style: none;
  /* list-style-image: url(../img/check.svg); */
}

.sectionList li::before {
  content: url(../img/check.svg);
}
