/* Sections */

.section__light {
  background-color: var(--color-bg-medium);
}

/* Button */

.button {
  border: none;
  border-radius: var(--border-10);
  background: none;
  padding: 16px 32px;
  color: var(--color-text);
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

@media (max-width: 640px) {
  .button {
    padding: 12px 32px;
  }
}

/* Social */
.social-icons {
  display: flex;
  align-items: center;
  gap: 24px;
}

.social-icons__icon {
  border: 1px solid var(--color-stroke);
  border-radius: var(--border-8);
  padding: 11px;
  width: 48px;
  height: 48px;
  text-decoration: none;
}

.social-icons__icon:hover {
  background: var(--color-bg-medium);
}
