* {
  box-sizing: border-box;
}

body {
  margin: 0;
  margin: 0 auto;
  background: linear-gradient(180deg, #374151 0%, #111827 100%);
  max-width: 1440px;
  font-family: "Roboto", sans-serif;
}

body > header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px;
  max-height: 69px;
}

header .blog-name {
  margin-right: 77px;
  color: #ffffff;
  font-size: 18px;
}

header nav {
  margin-right: 395px;
}

nav ul {
  display: flex;
  gap: 50px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  list-style: none;
}

input {
  border: none;
  border-radius: 100px;
  background: #1f293799;
  padding: 5px 10px;
  width: 224px;
  height: 40px;
  color: #ffffff;
}

.blog-title {
  text-align: center;
}

h1 {
  margin: 0 0 30px 0;
  color: #ffffff;
  font-weight: 400;
  font-size: 24px;
  line-height: 38px;
}

.blog-user {
  margin: 0 0 28px 0;
}

header a {
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-decoration: none;
}

footer p {
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

.blog-date {
  margin: 0 0 14px 0;
  color: #858585;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
}

.blog-user {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.user-info {
  flex-direction: column;
}

.nameUser {
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

.positionUser {
  color: #858585;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
}

.blog-main img {
  display: block;
  margin: 0 auto 36px;
}

.thirdSectionText {
  margin: 0 0 103px 0;
}

.firstSectionText,
.secondSectionText,
.thirdSectionText {
  margin: 0 auto 25px;
  max-width: 708px;
  color: #ffffff;
  font-style: solid;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0%;
}

footer p {
  color: #858585;
  text-align: center;
}
